@import '../../styles/variables.scss';
.challenge {
  margin-bottom: 20px;
  &__item {
    display: flex;
    justify-content: space-between;
    background-color: #434343;
    padding: 20px;
    font-size: 1.3rem;
  
  }
  &__name {
    flex-grow: 1;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }    
  }

  &__description {
    width: 400px;
  }
  &__btn {
    flex: 0 0 100px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: #477eff;
    color: #fff;

    &:hover {
      cursor: pointer;
      background-color: #5e8fff;
    }
  }
  &__details {
    background-color: #696969;
    font-size: 1.3rem;
    padding: 20px;
  }
}
.challenge__buttons {
  .challenge__btn {
    margin-right: 10px;
  }
}
.btn-group {
  display: flex;
  justify-content: space-around;
}

.challenge__link {
  font-size: 18px;
  color: rgba(var(--txt-color-rgb), 0.7);
  font-weight: bold;
  text-decoration: underline;
}
.challenge__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.challenge__footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.delete {
  padding: 5px 10px;
  border-style: none;
  border-radius: 5px;
  background-color: #ff4747;
  color: #fff;
  &:hover {
    cursor: pointer;
    background-color: #ff5e5e;
  }
}
.failed {
  color: orange;
}
.success {
  color: green;
}
// .challenge_completed {
//   color: orange;
// }
// .challenge_failed {
//   color: blue;
// }