@import '../../styles/variables.scss';
.main-layout {
  .wrapper {
    display: flex;
    color: #fff;
  }
  #content {
    padding: 0 20px;
  }
  .aside {
    flex: 1 0 270px;
    overflow: hidden;
    padding: 20px;
    min-height: 100vh;
    background-color: #151515;
  }
@media ($tablet) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  #content {
    padding: 0 20px;
  }
  .aside {
    flex: 1 0 100%;
    min-height: auto;
  }
}
  .dashboard {
    width: 100%;
    background-color: #262626;
  }
  
  .container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .navList {
    margin-left: auto;
    margin-top: 16px;
  }

  .logo {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      color: #fff;
      //text-shadow: 1px 5px 10px rgb(235, 229, 229), 0px 0px 10px  rgb(235, 229, 229), -2px -2px 5px  rgb(235, 229, 229);
    }
  }

  .navItem {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin:  0px 12px;

    &:hover {
      text-decoration: none;
      color: #fff;
      //text-shadow: 0px 0px 7px rgb(235, 229, 229),-1px -2px 3px rgb(235, 229, 229), 2px 2px 5px rgb(235, 229, 229)
    }
  }
}

