@import '../../styles/variables.scss';
.home {
    &__title {
        margin: 0 auto;
        padding-top: 20px;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }
    &__text {
        font-size: 1.5rem;
    }
    &__links {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 600px;
    }
}
