@import '../../styles/variables.scss';
.nav {
  &__item {
    margin-bottom: 10px;
    background-color: var(--bg-color);
    padding: 10px;
  }
  &__link {
    display: block;
    font-size: 1.5rem;   
  }
}
