@import '../../styles/variables.scss';
.main {
  background: var(--txt-color) url(../../assets/images/appLandingPage.jpg) no-repeat center center;
}
.container {
  position: relative;
}
.header-logo {
  display: block;
  margin-left: 5%;
  padding: 20px 20px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--tone-color);
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}
.header-logo:hover {
  color: rgba(var(--tone-color), 0.2);
}