@import '../../styles/variables.scss';
.public-layout {
  .main {
    background: var(--txt-color) url(../../assets/images/appLandingPage.jpg) no-repeat center center;
    position: relative;
  }
  .header {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1280px;
    width: 100%;
  }
  .logo {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--tone-color);  
    &:hover {
      color: rgba(var(--tone-color-rgb), 0.8);
    }
  }
  .content > div {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }  
}
