.filters {
    display: flex;
    margin-bottom: 20px;

    &__option {
        padding: 10px 20px;
        margin-right: 20px;
        background-color: #434343;

        &:hover {
            cursor: pointer;
            background-color: #626262;
        }
    }
    
}
