@import './styles/variables.scss';
@import "./styles/mixins.scss";
@import "./styles/reset.scss";

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
}
a {
    color: var(--txt-color, white);
    &:hover {
        color: var(--txt-color, white);
    }
}
.wrapper {
	margin: 0 auto;
}
@media ($fullMid) {
	.wrapper {}
}
@media ($desktop) {
	.wrapper {}
}
@media ($tablet) {
	.wrapper {}
}
h1, h2, h3, h4 {
	i {
		color: var(--txt-color);
	}
}
h1, h2 {
	font-size: 44px;
	font-weight: 400;
	font-family: var(--title-font);
	line-height: 1.3em;
	margin: 0;
	padding: 0 0 20px 0;
}
h3 {
    font-size: 40px;
    font-weight: 400;
    font-family: var(--title-font);
    line-height: 1.3em;
    margin: 0;
    padding: 0 0 15px 0;
}
@media ($desktop) {
	h1, h2 {
		font-size: 35px;
		padding: 0 0 10px 0;
	}
    h3 {
        font-size: 30px;
        padding: 0 0 10px 0;
    }
}
@media ($tablet) {
    h1, h2 {
        font-size: 25px;
        padding: 0 0 10px 0;
    }
    h3 {
        font-size: 22px;
    }
}
@media ($desktop) {
    .button {
            font-size: 16px;
    }
}
.input {
	border: 0 none;
	border-bottom: 1px solid rgba(var(--tone-color-rgb), 0.2);
	background: none;
	padding-bottom: 12px;
	margin-bottom: 40px;
	font-size: 18px;
	font-style: italic;
	font-family: var(--title-font);
    color: var(--bg-color-rgb);
    &__label {
        padding-right: 20px;
    }
}
.theme-is-white .input {
	border: 0 none;
	border-bottom: 1px solid rgba(var(--tone-color-rgb), 0.2);
	background: none;
	padding-bottom: 12px;
	margin-bottom: 40px;
	font-size: 18px;
	font-style: italic;
	font-family: var(--title-font);
    color: rgba(var(--bg-color-rgb), 0.5);
    &__label {
        padding-right: 20px;
    }
}
@media ($desktop) {
    .input {
            font-size: 16px;
    }
}
body {
    font-size: 16px;
    color: var(--txt-color);
    background-color: var(--bg-color);
}
.main {
    width: 100vw;
    height: 100vh;
    background-size: cover;   
}
.container {
    max-width: 1280;
    margin: 0 auto;    
}
.btn {
    font-size: 1.5rem;
    background-color: var(--tone-color);
    border: none;
    border-radius: 5px;
    color: var(--txt-color);
    width: 150px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background-color: rgba(var(--tone-color-rgb), 0.8);
    }
}
.response {
    color: var(--warning-color);
    margin: 10px 0;
    font-size: 18px;
}